<div class="header__container-sort">
    <span>Sorting by:</span>
    <div class="sort">
        <a
            href="#"
            (click)="sortService.sortByDate($event); setActiveSorting('date')"
            [ngClass]="getLinkClass('date')"
        >
            date
        </a>
        <a
            href="#"
            (click)="sortService.sortByViews($event); setActiveSorting('views')"
            [ngClass]="getLinkClass('views')"
        >
            count of views
        </a>
        <div class="sort__input">
            <span> by word or sentence </span>
            <input type="text" [(ngModel)]="filterService.filterValue" />
        </div>
    </div>
</div>
