<div class="header__container-sort">
    <span>Sorting by:</span>
    <div class="sort">
        <a
            href="#"
            (click)="sortService.sortByDate($event); setActiveSorting('date')"
            [ngClass]="getLinkClass('date')"
        >
            date
            <mat-icon *ngIf="sortService.sortBy === 'date'">
                {{ sortService.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
            </mat-icon>
        </a>
        <a
            href="#"
            (click)="sortService.sortByViews($event); setActiveSorting('views')"
            [ngClass]="getLinkClass('views')"
        >
            count of views
            <mat-icon *ngIf="sortService.sortBy === 'views'">
                {{ sortService.sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
            </mat-icon>
        </a>
        <div class="sort__input">
            <span> by word or sentence </span>
            <input type="text" [(ngModel)]="filterService.filterValue" />
        </div>
    </div>
</div>
