<div
    *ngIf="item"
    class="item favoriteCard"
    [appColorByDate]="item.snippet.publishedAt"
>
    <div class="item__image">
        <img
            [src]="item.snippet.thumbnails.medium.url"
            [alt]="item.snippet.title"
        />
    </div>

    <app-metrics
        [item]="item"
        [ngClass]="{ favoriteText: item.favorite }"
    ></app-metrics>

    <div class="item__title" [ngClass]="{ favoriteText: item.favorite }">
        {{ item.snippet.title }}
    </div>

    <app-custom-button
        additionalClasses="item__button"
        (click)="onOpenDetailedPageById(item.id)"
    >
        more...
    </app-custom-button>

    <app-custom-button
        class="item__button-favorite"
        type="button"
        additionalClasses="favoritePathButton favoritePathButton-item"
        title="Favorite page"
        (click)="removeFavoriteCard(item)"
    >
        <mat-icon
            class="header__favorite__icon"
            [ngClass]="{ favoriteButton: item.favorite }"
            >bookmark</mat-icon
        >
    </app-custom-button>
</div>
