.custom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    background: radial-gradient(rgb(2, 2, 134), #000);
    color: white;
    &__modal {
        height: auto;

        &__description {
            h2 {
                color: gold;
            }
        }
        cursor: default;
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
        &__button {
            &-main {
                padding-top: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
