.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
    border-radius: 5px;
    background-color: var(--background);
    padding: 1.5rem;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.329) 3px 0px 5px;
    &__image {
        max-width: 320px;
        max-height: 180px;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        align-self: end;
        height: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 320px;
        color: #4e4e4e;
        font-size: 1.25rem;
        font-weight: 600;
        padding-left: 4rem;
    }

    &__button {
        padding: 0.4rem 3rem;
        background-color: var(--primary);
        border-radius: 5px;
        box-shadow: var(--primary) 2px -2px 10px;
        cursor: pointer;
    }
}
