.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: end;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 2rem;
}

.header {
    background-color: var(--background);
    &__container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: max-content;
        align-self: center;
        &-search {
            display: flex;
            gap: 15px;
            justify-content: center;
            align-items: center;
        }
        
    }
}

.search {
    display: flex;
    font-size: 18px;
    &__input {
        color: black;
        width: 480px;
        border: none;
        padding: 0.2rem;
        background-color: #efefef;
        &:focus {
            outline-color: var(--primary);
        }
    }
}



.account {
    display: flex;
    gap: 10px;
    padding-top: 1rem;
    align-items: center;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: white;
        background-color: var(--primary);
        border-radius: 5px;
    }
}
