.login {    
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    background-color: var(--background);
    border-radius: 10px;

    &__title {
        margin-bottom: 1rem;
    }

    &__control {
        color: #888;

        label {
            padding-left: 0.5rem;
            margin-top: 1rem;
        }

        input {
            width: 100%;
            height: 3rem;
            border-color: transparent;
            background-color: #e0e0e0;
            transition: border-color 0.3s;
            outline-color: var(--primary);
            margin: .3rem auto;
            padding: 1rem;
        }
    }
}

.validation {
    color: var(--danger-color);
}

.invalid {
    color: var(--danger-color);

    input {
        border: 1px solid var(--danger-color);
        outline-color: var(--danger-color);
    }
}
