:host {
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
}
.account {
    display: flex;
    gap: 10px;    
    align-items: center;
    cursor: default;
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: white;
        background-color: var(--primary);
        border-radius: 5px;
        cursor: pointer;
    }
}
