<div class="header__container-account">
    <div class="account">
        <span> {{ authService.currentLogin }} </span>
        <div class="account__icon">
            <mat-icon>account_circle</mat-icon>
        </div>
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
            <div class="account__icon"
                (click)="toggleLoginStatus()"
                (keyup.enter)="toggleLoginStatus()"
                tabindex="0"
                title="Login"
            >
                <mat-icon>login</mat-icon>
            </div>
        </ng-container>
        <ng-template #loggedInTemplate>
            <div class="account__icon"
                (click)="toggleLoginStatus()"
                (keyup.enter)="toggleLoginStatus()"
                tabindex="0"
                title="Logout"
            >
                <mat-icon>logout</mat-icon>
            </div>
        </ng-template>
    </div>
</div>
