.custom-button {
    background-color: var(--primary);
    box-shadow: var(--primary) 2px -2px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 0.2rem 2rem;
    &:hover {
        background-color: var(--background-primary);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.item {
    &__button {
        padding: 0.4rem 3rem;
        background-color: var(--primary);
        border-radius: 5px;
        cursor: pointer;
    }
}

.settings {
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        padding: 0;
        box-shadow: var(--primary) 2px -2px 10px;
        mat-icon {
            display: flex;
        }
    }
}

.search {
    &__input {
        &-button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: var(--primary) 2px -2px 10px;
            cursor: pointer;
        }
    }
}

.detailed {
    &__back {
        &-button {
            position: absolute;
            padding: 0.4rem 0.5rem;
            box-shadow: none;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            left: -44px;
        }
    }
}

.login,
.admin {
    &__button {
        &-submit,
        &-reset,
        &-add {
            display: block;
            margin-top: 1.5rem;
            border-radius: 5px;
            padding: 0.5rem 4rem;
        }
        &-add {
            display: flex;
            width: 100%;
            justify-content: center;
        }
        &-reset {
            padding: 0.5rem 5rem;
            background-color: var(--danger-color);
            box-shadow: var(--danger-color) 2px -2px 10px;
            opacity: 0.8;
            &:hover {
                background-color: var(--danger-color);
                opacity: 1;
            }
        }
    }
}
