:host {
    .favoriteCard {
        background: var(--background-favorite);
    }
    .favoriteButton {
        color: var(--danger-color);
    }
    .favoriteText {
        color: var(--favorite-color);
    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
    border-radius: 10px;
    background-color: var(--background);
    padding: 1.5rem;
    cursor: default;
    box-shadow: rgba(0, 0, 0, 0.329) 3px 0px 5px;
    position: relative;
    &__image {
        width: 320px;
        height: 180px;
        img {
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: fill;
            display: block;
        }
    }

    &__title {
        align-self: end;
        height: 60px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 320px;
        color: #4e4e4e;
        font-size: 1.25rem;
        font-weight: 600;
        padding-left: 4rem;
    }
    &__button {
        &-delete,
        &-favorite {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
